<link rel="stylesheet" href="../css/footer.css" />
<div class="footer">
  <div class="logo">
    <img
      src="../../assets/images/Logo_Restaurant.png"
      alt="Logo Restaurant"
      class="logo_restaurant"
    />
  </div>
  <div class="adresse">
    <h1>ADRESSE</h1>
    <p>69 Rue des Famefresh</p>
    <p>71390, Buxy, France</p>
  </div>
  <div class="separateur"></div>
  <div class="contact">
    <h1>CONTACT</h1>
    <p>06 66 66 66 66</p>
    <p>gastronomique.delice@gmail.com</p>
  </div>
  <div class="separateur"></div>
  <div class="horaire">
    <h1>HORAIRES</h1>
    <p>Du mardi au dimanche</p>
    <p>De 12h à 15h et de 19h à 22h</p>
  </div>
  <div class="reseau">
    <img
      src="../../assets/images/facebook.png"
      alt="Logo facebook"
      class="logo_reseau"
    />
    <img
      src="../../assets/images/instagram.png"
      alt="Logo instagram"
      class="logo_reseau"
    />
    <img
      src="../../assets/images/twitter.png"
      alt="Logo twitter"
      class="logo_reseau"
    />
    <img
      src="../../assets/images/linkedin.png"
      alt="Logo linkedin"
      class="logo_reseau"
    />
  </div>
</div>
