<link rel="stylesheet" href="../css/menu-style.css" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
/>
<script src="../js/menu-script.js" defer type="module"></script>

<div class="menu-container">
  <div class="logo-container">
    <img src="../../assets/images/Logo_Restaurant.png" alt="Logo_Restaurant" />
  </div>

  <nav class="options">
    <a
      class="nav-item"
      active-color="#fdfdf6"
      href="../html/menus.html"
      target="_top"
      >Menus</a
    >
    <a
      class="is-active nav-item titre"
      active-color="white"
      href="../html/accueil.html"
      target="_top"
    >
      Gastronomique Delice
    </a>
    <a
      class="nav-item"
      active-color="#fdfdf6"
      href="../html/reservation.html"
      target="_top"
      >Réservation</a
    >

    <span class="nav-indicator"></span>
  </nav>

  <div class="account">
    <div class="details"></div>

    <a
      active-color="#fdfdf6"
      class="account-btn"
	  href="../html/compte.html"
      target="_top">	
    	<i class="bi bi-person-circle"></i>
    </a>
  </div>
</div>
